.actions{
    display: flex;
    justify-content: flex-end;
}

.actions button{
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.user-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.users-functions{
    justify-content: space-between;
}


@media only screen and (max-width: 800px) {
    .emptyPlaceholder{
        display: none;
    }
    .users-functions{
        flex-direction: column;
    }
    .actions{
        margin-top: 1rem;
    }
}

